<div class="app-header">
  <h1>
    {{title}}
  </h1>
</div>
<div>
  <h2>Search</h2>
  <input type="text" [formControl]="term"/>
</div>
<div>
  <table class="table table-hover" >
      <tbody>
          <tr *ngFor="let movie of searchResult.movies">
              <td ng-click="goToDetail(movie.id)">
                  <div>
                     <P class="search-result-title">{{movie.title}}</P>
                      <p class="search-result-description">{{movie.releaseYear}} - {{movie.category}} - {{movie.runningTime}}</p>
                  </div>
              </td>
              <td>
                  <a href="#/{{movie.id}}" class="detail-button" >Detail</a>
              </td>

          </tr>
      </tbody>
  </table>
  <p *ngIf="hasResults == false">No Results</p>
</div>
