<div class="app-header">
  <h1>
    {{title}}
  </h1>
</div>
<div class="search-area">
  <input name="search" type="text" [formControl]="term" placeholder="Search.." class="search-box"/>
</div>
<div>
  <table class="table table-hover" >
      <tbody>
          <tr *ngFor="let movie of searchResult.movies" infinite-scroll infiniteScrollDistance="2"
            infiniteScrollThrottle="100" (scrolled)="onScroll()">
              <td (click)="gotoDetail(movie.id)">
                  <div>
                     <P class="search-result-title">{{movie.title}}</P>
                      <p class="search-result-description">{{movie.releaseYear}} - {{movie.category}} - {{movie.runningTime}}</p>
                  </div>
              </td>
              <td>
                  <a href="#/{{movie.id}}" class="detail-button" >Detail</a>
              </td>

          </tr>
      </tbody>
  </table>
  <p *ngIf="hasResults == false">No Results</p>
</div>
