<div class="app-header">
  <h1>
    {{title}}
  </h1>
  <div *ngIf="currentSearch.isLoading" class="loading-indicator pull-right">
      <img src="/assets/img/loading.png" class="loading no-style">
      <p class="loading-indicator-text">Loading...</p>
  </div>
</div>
<div class="search-area row">
  <div class="col-lg-3">
     <input name="search" type="search" [formControl]="term" placeholder="Search.." class="search-box " autofocus="true" />
  </div>
  <div class="category-selection-area col-lg-2">
    <div class="drop-down">
        <button class="dropbtn btn">
            <div>
              <span>Category(ies)</span>
              <span class="arrow-down arrow-align-vertical-centre arrow-with-horizontal-margins"></span>
            </div>
        </button>
        <div class="drop-down-content">
            <div *ngFor="let category of currentSearch.allCategories">
                <a href="#" (click)="selectCategory($event, category)">{{category}}</a>
            </div>
        </div>
      </div>
    </div>
    <div class="category-selections col-lg-7">
      <div *ngFor="let selection of currentSearch.selectedCategories">
          <span class="tag label label-info">
              <span>{{selection}}</span>
              <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" (click)="removeCategorySelection(selection)"></i></a> 
          </span>
      </div>
    </div>  
</div>
<div id="search-results"
         infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" 
        [scrollWindow]="false" (scrolled)="onScroll()"
        *ngIf="currentSearch.movieResponse.count > 0">
  <table class="table table-hover" >
      <tbody>
          <tr *ngFor="let movie of currentSearch.movieResponse.movies" >
              <td (click)="gotoDetail(movie.id); false">
                  <div class="movie-id-{{movie.id}}">
                     <P class="search-result-title">{{movie.title}}</P>
                      <p class="search-result-description">{{movie.releaseYear}} - {{movie.category}} - {{movie.runningTime}}</p>
                  </div>
              </td>
              <td>
                  <a href="#/{{movie.id}}" class="detail-button" >Detail</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<p id="no-results" *ngIf="currentSearch.movieResponse.count == 0">No Results</p>